<!-- Page Header-->
<header class="page-header header-home-1">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="180px" data-lg-stick-up-offset="180px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
      <div class="rd-navbar-inner">
        <%= render("partials/header/secondary-navigation") %>
        <div class="rd-navbar-aside-right">
          <%= render("partials/header/main-navigation") %>
          <%= render("partials/header/search") %>
        </div>
      </div>
    </nav>
  </div>
</header>
