<!-- RD Navbar Brand-->
<div class="rd-navbar-brand light">
  <%= link_to({:controller => "home", :action => "index"}, class: "brand-name") do %>
    <span><%= image_tag($imagePath + "tradingradar-logo.png", alt: t('layouts.application.logoDescription')) %></span>
  <% end %>
</div>
