<!--RD Navbar Search-->
<!-- TODO: all this file -->
<div class="rd-navbar-search">
  <a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
  <form class="rd-search" action="search.html" data-search-live="rd-search-results-live" method="GET">
    <div class="form-wrap">
      <label class="form-label form-label" for="rd-navbar-search-form-input"><%= t('layouts.application.ctaSearch') %></label>
      <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
      <div class="rd-search-results-live" id="rd-search-results-live"></div>
    </div>
    <button class="rd-search-form-submit fa-search"></button>
  </form>
</div>
