<!-- Page title -->
<section class="page-title bg-image context-dark" style=" background-image: url(&quot;/images/bg-page-title.jpg&quot;);">
  <div class="shell text-center">
    <h1><%= @stock.name %></h1>    
    <h4><%= t('layouts.application.pressReleaseSubtitle') %></h4>
  </div>
</section>
