<%= render("./partials/header/header") %>
<!--The main content-->
<div class="shell">
  <h1>New Source Italy</h1>
  <%= render 'form', source_italy: @source_italy %>
  <%= link_to 'Back', source_italies_path %>
</div>
