// Place all the styles related to the Market controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Title alphabetich list in market */
.market {
    .range.search-by-first-letter {
      a {
        padding: 0 5px;
        font-weight: bold;
  
        &.current {
          text-decoration: underline;
          pointer-events: none;
          cursor: default;
        }
      }
    }
  }