<!--Logo and menu-->
<%= render("partials/header/header") %>
<!--The main content-->
<div class="shell">
  <!--Content-->
  <section class="bg-white section-bottom-60 section-xs-type-1">
    <div class="shell">
      <div class="range range-center range-40">
        <div>
                <h4><%= $message %></h4>
        </div>
      </div>
    </div>
  </section>
</div>


