<%= render("./partials/header/header") %>
<!--The main content-->
<div class="shell">
  <h1>New Cac40 Report</h1>
  <%= render 'form', cac40_report: @cac40_report %>
  <%= link_to 'Back', cac40_reports_path %>
</div>
