<section class="section-xs bg-white">
  <div class="shell">
    <div class="range range-center range-30">
      <%= render("partials/banners/bigger") %>
      <div class="cell-lg-4">
        <div class="range range-center range-30">
          <%= render("partials/banners/second") %>
          <%= render("partials/banners/third") %>
        </div>
      </div>
    </div>
  </div>
</section>
